<%= page_header('Current Overview') %>

<%- if permitted?('admin') -%>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui center aligned segment">
        <div class="ui large statistic">
          <div class="value">
            <%= @organisation_count =%>
          </div>
          <div class="label">
            Organisations
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui center aligned segment">
        <div class="ui large statistic">
          <div class="value">
            <%= @project_count =%>
          </div>
          <div class="label">
            Projects
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ui center aligned segment">
        <div class="ui large statistic">
          <div class="value">
            <%= @subject_count =%>
          </div>
          <div class="label">
            Users
          </div>
        </div>
      </div>
    </div>
  </div>

<h2>Administration</h2>
  <p>Your granted access rights allow you to administer the following components</p>
  <div class="ui relaxed vertical list">
    <%- if permitted?('organisations:list') -%>
      <div class="item">
        <div class="ui middle aligned image">
          <%= link_to(organisations_path) do %>
            <i class="bordered big building icon"></i>
          <% end %>
        </div>
        <div class="content">
          <div class="ui header"><%= link_to('Organisations', organisations_path) %></div>
          Operate AWS projects
        </div>
      </div>
    <%- end -%>
    <%- if permitted?('projects:list') -%>
      <div class="item">
        <div class="ui middle aligned image">
          <%= link_to(projects_list_path) do %>
            <i class="bordered big cubes icon"></i>
          <% end %>
        </div>
        <div class="content">
          <div class="ui header"><%= link_to('AWS Projects', projects_list_path) %></div>
          All registered AWS projects
        </div>
      </div>
    <%- end -%>
    <%- if permitted?('admin:subjects') -%>
      <div class="item">
        <div class="ui middle aligned image">
          <%= link_to(subjects_path) do %>
            <i class="bordered big user icon"></i>
          <% end %>
        </div>
        <div class="content">
          <div class="ui header"><%= link_to('Users', subjects_path) %></div>
          Are provided with access to AWS projects
        </div>
      </div>
    <%- end -%>
    <%- if permitted?('admin:api_subjects') -%>
      <div class="item">
        <div class="ui middle aligned image">
          <%= link_to(api_subjects_path) do %>
            <i class="bordered big cloud icon"></i>
          <% end %>
        </div>
        <div class="content">
          <div class="ui header"><%= link_to('API Accounts', api_subjects_path) %></div>
          Allow remote systems to access the RESTful API
        </div>
      </div>
    <%- end -%>
    <%- if permitted?('admin:roles') -%>
      <div class="item">
        <div class="ui middle aligned image">
          <%= link_to(roles_path) do %>
            <i class="bordered big alternate unlock icon"></i>
          <% end %>
        </div>
        <div class="content">
          <div class="ui header"><%= link_to('Roles', roles_path) %></div>
          Grant access to internal functionality
        </div>
      </div>
    <%- end -%>
  </div>
<%- end -%>

<%= render(partial: 'shared/aws_access') %>
