<div id="filterrific_results">
  <div>
    <%= page_entries_info organisations %>
  </div>

  <table class="ui basic compact table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Unique Identifier</th>
      <th/>
    </tr>
    </thead>
    <tbody>
    <%- organisations.each do |organisation| -%>
      <tr>
        <td><%= organisation.name %></td>
        <td><%= organisation.unique_identifier %></td>
        <td>
          <%- if permitted?("organisations:#{organisation.id}:projects:list") -%>
            <%= button_link_to([organisation, :projects], class: 'tiny icon') do -%>
              <%= icon_tag('folder outline icon') %>
              Projects
            <%- end -%>
          <%- end -%>

          <%- if permitted?('organisations:update') -%>
            <%= button_link_to([:edit, organisation], class: 'tiny icon') do -%>
              <%= icon_tag('edit') %>
              Edit
            <%- end -%>
          <%- end -%>
          <%- if permitted?('organisations:delete') -%>
            <%= delete_button_tag(organisation) %>
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
    </tbody>
  </table>
</div>

<%= will_paginate organisations %>
