<%=
    breadcrumbs(
        'Organisations'
    )
%>

<%= page_header('Organisations') %>

<table class="ui basic striped table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Unique Identifier</th>
    <th/>
  </tr>
  </thead>
  <tbody>
  <%- @organisations.each do |organisation| -%>
    <tr>
      <td><%= organisation.name %></td>
      <td><%= organisation.unique_identifier %></td>
      <td class="right aligned">
        <%- if permitted?("organisations:#{organisation.id}:projects:list") -%>
          <%= button_link_to([organisation, :projects], class: 'tiny icon') do -%>
            <%= icon_tag('folder outline icon') %>
            Projects
          <%- end -%>
        <%- end -%>

        <%- if permitted?('organisations:update') -%>

          <%= button_link_to([:edit, organisation], class: 'tiny icon') do -%>
            <%= icon_tag('edit') %>
            Edit
          <%- end -%>
        <%- end -%>

        <%- if permitted?('organisations:delete') -%>
          <%= delete_button_tag(organisation) %>
        <%- end -%>

      </td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<%- if permitted?('organisations:create') -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_organisation_path, class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      New Organisation
    <%- end -%>
  </div>
<%- end -%>
