<%=
    breadcrumbs(
        'Organisations'
    )
%>

<%= page_header('Organisations') %>
<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed'
        ) %>
  </div>
  <%= render_filterrific_spinner %>
<% end %>

<%= render(
        partial: 'organisations/list',
        locals: { organisations: @organisations }
    ) %>


<%- if permitted?('organisations:create') -%>
  <div class="line-of-buttons">
    <%= button_link_to(new_organisation_path, class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      New Organisation
    <%- end -%>
  </div>
<%- end -%>
