<%=
  breadcrumbs(
    { 'Administration' => root_path},
    { 'Organisations' => organisations_path },
    @organisation.name
  )
%>

<%= page_header('View Organisation') %>

<h3 class="ui header"><%= @organisation.name %></h3>

<table class="ui definition table">
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @organisation.name %></td>
  </tr>
  <tr>
    <td>External ID</td>
    <td><%= @organisation.external_id %></td>
  </tr>
  </tbody>
</table>


<div class="line-of-buttons">
  <%- if permitted?('admin:organisations:read') -%>
      <%= button_link_to([@organisation, :projects], class: 'large') do -%>
          <%= icon_tag('folder outline icon') %>
          Projects <em>(<%= @organisation.projects.count %>)</em>
      <%- end -%>
  <%- end -%>

  <%- if permitted?('admin:organisations:update') -%>
    <%= button_link_to(edit_organisation_path(@organisation), class: 'large icon') do -%>
      <%= icon_tag('edit') %>
      Edit
    <%- end -%>
  <%- end -%>

  <%- if permitted?('admin:organisations:delete') -%>
      <%= delete_button_tag(@organisation, class: 'large') %>
  <%- end -%>

</div>
