<%=
    breadcrumbs(
            {'Administration' => root_path},
            {'Roles' => roles_path},
            {@role.name => role_path(@role)},
            'Add API Account'
    )
%>

<%= page_header('Grant Role to Subject') %>

<h3 class="ui header"><%= @role.name %></h3>

<table class="ui basic compact table">
  <thead>
  <tr>
    <th>X.509 CN</th>
    <th>Description</th>
    <th/>
  </tr>
  </thead>
  <tbody>
  <%- @api_subjects.each do |api_subject| -%>
      <tr>
        <td><%= api_subject.x509_cn %></td>
        <td><%= api_subject.description %></td>
        <td>

          <%- if permitted?("admin:roles:grant") -%>
              <%- if APISubjectRole.exists?(role_id: @role.id,
                                            api_subject_id: api_subject.id) -%>

                  <%= button_tag(name: 'api_subject_roles[subject_id]',
                                 value: api_subject.id, class: 'tiny grey icon disabled') do -%>
                      <%= icon_tag('checkmark') %>
                      Granted
                  <%- end -%>
              <%- else -%>
                  <%= form_for([@role, @assoc], url: role_api_members_path(@role),
                               html: {class: 'inline'}) do |f| -%>

                      <%= button_tag(name: 'api_subject_roles[api_subject_id]',
                                     value: api_subject.id, class: 'tiny green icon') do -%>
                          <%= icon_tag('checkmark') %>
                          Grant
                      <%- end -%>
                  <%- end -%>
              <%- end -%>
          <%- end -%>
        </td>
      </tr>
  <%- end -%>
  </tbody>
</table>
