<h2>AWS access</h2>
<%- case @subject.active_project_roles.count -%>
<%- when 0 -%>
  <%- if !permitted?('admin') -%>
    <%= error_message('No Project Assigned') do -%>
      <p>You must have a project assigned to continue to the AWS administrative console.</p>

      <p>If you have received an invitation email, please follow the invitation link to get access to a project. If this problem persists please contact support to get your account configured.</p>
    <%- end -%>
    <%= raw support_html %>
  <%- else -%>
    <p>Your account does not have access to any AWS projects.</p>
  <%- end -%>
<%- when 1 -%>
  <p>
    Your account has access to the AWS project,
    <strong><%= @subject.active_project_roles.first.project.name =%></strong>.
  </p>
  <p>
    <%= link_to('Continue to the AWS administrative console', aws_login_path) %>
    for this project.
  </p>
<%- else -%>
  <p>
    Your account has access to multiple AWS projects.
  </p>
  <p>
    Please <%= link_to('select the project you would like to work with', projects_path) -%> to continue to the AWS administrative console.
  </p>
  </p>
<%- end -%>
