<%-
    url = if @project_role.new_record?
            organisation_project_roles_path(@organisation, @project)
          else
            organisation_project_role_path(@organisation, @project, @project_role)
          end
-%>

<%= form_for([@organisation, @project, @project_role], url: url,
             html: {id: 'project_role-form'}) do |f| -%>
  <%= field_block do -%>
    <%= f.label :name do -%>
      Name
      <%= field_help_text('The project name') %>
    <%- end -%>
    <%= f.text_field :name %>
  <%- end -%>

  <%= field_block do -%>
    <%= f.label :role_arn do -%>
      Role ARN
      <%= field_help_text('The unique ARN for this role assigned by AWS after role creation is completed.') %>
    <%- end -%>
    <%= f.text_field :role_arn %>
  <%- end -%>

  <%= error_messages_tag %>

  <div class="line-of-buttons">
    <%= f.button(class: 'large green icon') do -%>
      <%= icon_tag('checkmark') %>
      <%= submit_label %>
    <%- end -%>

    <%= button_link_to(organisation_project_roles_path(@organisation, @project), class: 'large icon') do -%>
      <%= icon_tag('cancel') %>
      Cancel
    <%- end -%>
  </div>
<%- end -%>

<%-
  message = %Q( <p>Role ARN is a unique code created by AWS when projects create AWS roles to provide access within the AWS console.</p>

                <p>
                  To obtain this value visit the 'Identity and Access Management' > 'Roles' page within the AWS console
                  and navigate to the record for required role (possibly 'Administrator').
                </p>

                <p>
                  The required value will have the format:
                  <pre>arn:aws:iam::<strong>&ltnumber&gt</strong>:role/<strong>&ltstring&gt</strong></pre>
                </p>)
-%>

<%= validate_form('#project_role-form', :project_role) do -%>
  <%= auto_validate(@project_role, :name, :role_arn) %>
  <%= validate_field(:role_arn, role_arn: message) %>
<%- end -%>
