<%=
    breadcrumbs(
        {'Organisations' => organisations_path},
        {'Projects' => organisation_projects_path(@organisation)},
        {'Project Roles' => organisation_project_roles_path(@organisation, @project)},
        @project_role.name

    )
%>
<%= page_header("Members for '#{@project_role.name}'") %>

<table class="ui basic compact table">
  <thead>
  <tr>
    <th>Member</th>
    <th>Email Address</th>
    <th/>
  </tr>
  </thead>
  <tbody>
  <%- @project_role.subject_project_roles.each do |assoc| -%>
    <tr>
      <td><%= assoc.subject.name %></td>
      <td><a href='mailto:<%= assoc.subject.mail %>'><%= assoc.subject.mail %></a></td>
      <td>
        <%- if permitted?("organisations:#{@organisation.id}:projects:#{@project.id}:roles:revoke") -%>
          <%= delete_button_tag(organisation_project_role_member_path(@organisation, @project, @project_role, assoc),
                                text: 'Revoke') %>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<div class="line-of-buttons">

  <%- if permitted?("organisations:#{@organisation.id}:projects:#{@project.id}:roles:grant") -%>
    <%= button_link_to(new_organisation_project_role_member_path(@organisation, @project, @project_role), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      Add Subject
    <%- end -%>
  <%- end -%>

</div>
