<%= page_header('Select a project') %>

<%= divider_tag %>
<div class="ui grid">

  <div class="eight wide column">
    <%= info_message('You must select a project to continue') do -%>
    <%- end -%>

    <div class="ui selection dropdown">
      <input type="hidden" name="gender">
      <div class="default text">Project</div>
      <i class="dropdown icon"></i>
      <div class="menu">
        <% @projects.each do |project| %>
            <div class="item" data-value="<%= project.id %>"><%= project.name %>
            </div>
        <% end %>
      </div>
    </div>

    <!-- Temporary -->
    <a href="aws_idp">
      <div class="ui primary button">
        Select
      </div>
    </a>

  </div>
</div>

