<%=
    breadcrumbs(
        {'Administration' => dashboard_path},
        {'Roles' => roles_path},
        {@role.name => role_path(@role)},
        'Permissions'
    )
%>

<%= page_header("Permissions for #{@role.name}") %>

<table class="ui basic striped table">
  <thead>
  <tr>
    <th>Permission String</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <%- @permissions.each do |permission| -%>
    <tr>
      <td><code><%= permission.value %></code></td>
      <td class="right aligned"><%= delete_button_tag(url_for([@role, permission])) %></td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<h3 class="ui header">Add New Permission</h3>

<%= form_for([@role, @new_permission], html: {id: 'new-permission'}) do |f| -%>
  <%= field_block do -%>
    <%= f.label :value do -%>
      Permission String
    <%- end -%>
    <%= f.text_field :value %>
  <%- end -%>

  <%= error_messages_tag %>

  <%= button_tag(type: 'submit', class: 'large green icon') do -%>
    <%= icon_tag('add') %>
    Add
  <%- end -%>
<%- end -%>

<%= validate_form('#new-permission', :permission) do -%>
  <%= validate_field(:value, empty: 'Please provide a Permission String') %>
<%- end -%>
