<%=
    breadcrumbs(
        {'Administration' => dashboard_path},
        {'API Accounts' => api_subjects_path},
        @api_subject.description
    )
%>

<%= page_header('View API Account') %>

<table class="ui definition table">
  <tbody>
  <tr>
    <td>Description</td>
    <td><%= @api_subject.description %></td>
  </tr>
  <tr>
    <td> X.509 CN</td>
    <td><%= @api_subject.x509_cn %></td>
  </tr>
  <tr>
    <td>Contact Name</td>
    <td><%= @api_subject.contact_name %></td>
  </tr>
  <tr>
    <td>Contact Email Address</td>
    <td><a href='mailto:<%= @api_subject.contact_mail %>'><%= @api_subject.contact_mail %></a></td>
  </tr>
  </tbody>
</table>

<div class="line-of-buttons">
  <%- if permitted?('admin:api_subjects:update') -%>
    <%= button_link_to([:edit, @api_subject], class: 'large') do -%>
      <%= icon_tag('edit') %>
      Edit
    <%- end -%>
  <%- end -%>

  <%- if permitted?('admin:api_subjects:delete') -%>
    <%= delete_button_tag(@api_subject, class: 'large') %>
  <%- end -%>
</div>
