<%=
    breadcrumbs(
        {'Administration' => dashboard_path},
        {'Roles' => roles_path},
        @role.name
    )
%>

<%= page_header("Members for #{@role.name}") %>

<table class="ui basic compact table">
  <thead>
  <tr>
    <th>Member</th>
    <th>Email Address</th>
    <th/>
  </tr>
  </thead>
  <tbody>
  <%- @role.subject_roles.each do |assoc| -%>
    <tr>
      <td><%= assoc.subject.name %></td>
      <td><%= mail_to(assoc.subject.mail) %></td>
      <td>
        <%- if permitted?("admin:roles:revoke") -%>
          <%= delete_button_tag(role_member_path(@role, assoc),
                                text: 'Revoke') %>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
  <%- @role.api_subject_roles.each do |assoc| -%>
    <tr>
      <td><%= assoc.api_subject.x509_cn %></td>
      <td><%= mail_to(assoc.api_subject.contact_mail) %></td>
      <td>
        <%- if permitted?("admin:roles:revoke") -%>
          <%= delete_button_tag(role_api_member_path(@role, assoc),
                                text: 'Revoke') %>
        <%- end -%>
      </td>
    </tr>
  <%- end -%>
  </tbody>
</table>

<div class="line-of-buttons">
  <%- if permitted?("admin:roles:grant") -%>
    <%= button_link_to(new_role_member_path(@role), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      Add User
    <%- end -%>
  <%- end -%>

  <%- if permitted?("admin:roles:grant") -%>
    <%= button_link_to(new_role_api_member_path(@role), class: 'large green icon') do -%>
      <%= icon_tag('add') %>
      Add API Account
    <%- end -%>
  <%- end -%>
</div>
