<%= form_for([@organisation, @project], html: {id: 'project-form'}) do |f| -%>
  <%= field_block do -%>
    <%= f.label :name do -%>
      Name
      <%= field_help_text('The project name') %>
    <%- end -%>
    <%= f.text_field :name %>
  <%- end -%>

    <%= field_block do -%>
        <%= f.label :provider_arn do -%>
            Provider ARN
            <%= field_help_text('The unique identifier stored in AWS') %>
        <%- end -%>
        <%= f.text_field :provider_arn %>
    <%- end -%>

  <%= field_block do -%>
    <%= f.label :state do -%>
      State
      <%= field_help_text('The project state') %>
    <%- end -%>
    <%= f.text_field :state %>
  <%- end -%>

  <div class="line-of-buttons">
    <%= f.button(class: 'large green icon') do -%>
      <%= icon_tag('checkmark') %>
      <%= submit_label %>
    <%- end -%>

    <%= button_link_to(organisation_projects_path(@organisation), class: 'large icon') do -%>
      <%= icon_tag('cancel') %>
      Cancel
    <%- end -%>
  </div>
<%- end -%>
