<%=
  breadcrumbs(
    { 'Organisations' => organisations_path },
    { @organisation.name => organisation_path(@organisation) },
    { 'Projects' => organisation_projects_path(@organisation) },
    @project.name
  )
%>

<%= page_header(@organisation.name, 'View Project') %>

<h3 class="ui header"><%= @project.name %></h3>

<table class="ui definition table">
  <tbody>
  <tr>
    <td>Name</td>
    <td><%= @project.name %></td>
  </tr>
  <tr>
    <td>AWS Account</td>
    <td><%= @project.aws_account %></td>
  </tr>
  <tr>
    <td>State</td>
    <td><%= @project.state %></td>
  </tr>
  </tbody>
</table>

<div class="line-of-buttons">
  <%- if permitted?('admin:organisations:read') -%>
      <%= button_link_to('/', class: 'large') do -%>
          <%= icon_tag('folder outline icon') %>
          Project Roles <em>(<%= @project.project_roles.count %>)</em>
      <%- end -%>
  <%- end -%>

  <%- if permitted?('admin:organisations:update') -%>
      <%= button_link_to([:edit, @organisation, @project], class: 'large icon') do -%>
          <%= icon_tag('edit') %>
          Edit
      <%- end -%>
  <%- end -%>

  <%- if permitted?('admin:organisations:delete') -%>
      <%= delete_button_tag([@organisation, @project], class: 'large') %>
  <%- end -%>

</div>

</div>
