<!DOCTYPE html>
<html lang="en">
<head profile="http://www.w3.org/2005/10/profile">
  <%= tag('link', rel: 'icon', type: 'image/png', href: image_path('favicon.png')) %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SPIN</title>

  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>
<%= aaf_header(title: 'SPIN', environment: environment_string) do -%>
    <%= nav_bar do -%>
        <%= nav_item('Welcome', '/') %>

        <%= nav_items_right do -%>
            <%- if @subject -%>
                <%= nav_item('Log out', '/auth/logout') %>
            <%- end -%>
        <%- end -%>

    <%- end -%>
<%- end -%>

<section class="content">
  <main><%= yield %></main>
</section>

<%= aaf_footer do -%>
    <p>
      SPIN
      <br/>
      Developed for the <a href="http://www.aaf.edu.au">Australian Access Federation</a>
      by Russell Ianniello
    </p>
<%- end -%>
</body>
</html>
